/* //================================// */
/* //=============cards==============// */
/* //================================// */

/* .cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #434343;
    padding: 15px;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 100%;
    border-radius: 50%;
} */

/* //================================// */
/* //==========Radial menu===========// */
/* //================================// */
html {
    --btn-size: 7rem;
    --extra-space: 1.5rem;
}

.item {
    --radius: calc(var(--btn-size) + var(--extra-space));
    background-color: var(--bg);
    transform: translateX(calc(cos(var(--angle)) * var(--radius))) translateY(calc(sin(var(--angle) * -1) * var(--radius))) rotate(0deg);
    opacity: 0;
    transition: all 0.6s var(--delay) ease;
}

.menu-items:not(:popover-open) .item {
    --radius: 0;
    --angle: 0;
}

.menu-items {
    background: none;
    inset: auto;
    border: none;
    height: fit-content;
    padding: 0;
    /*  position  */
    position-area: center;
}

.hidden-close {
    transition: opacity 0.1s;
    transition-delay: 1s;
    width: var(--btn-size);
    aspect-ratio: 1;
}

:popover-open .item {
    opacity: 1;
    width: var(--btn-size);
}

[popover] {
    width: var(--btn-size);
    aspect-ratio: 1;
}

.item {
    border-radius: 50%;
    width: var(--btn-size);
    aspect-ratio: 1;
}

.menu-toggle {
    border-radius: 50%;
    width: var(--btn-size);
    aspect-ratio: 1;
    z-index: 1;
    position: absolute;
}

/* active item */

.item:nth-child(1) {
    --bg: pink;
    --angle: 0deg;
    --delay: 0s;
}

.item:nth-child(2) {
    --bg: thistle;
    --angle: calc(1*72deg);
    --delay: 0s;
}

.item:nth-child(3) {
    --bg: paleturquoise;
    --angle: calc(2*72deg);
    --delay: 0s;
}

.item:nth-child(4) {
    --bg: lightgreen;
    --angle: calc(3*72deg);
    --delay: 0s;
}

.item:nth-child(5) {
    --bg: peachpuff;
    --angle: calc(4*72deg);
    --delay: 0s;
}
.item:nth-child(6) p{
    font-size: 1rem;
    transform: translateY(1rem); 
}

.item:nth-child(6) {
    font-size:medium;
    background-image:
     radial-gradient(
        farthest-side circle,
        #000 8%,
        #FFF 0,
        #FFF 80%,
        transparent 0
      ), repeating-conic-gradient(
        transparent 0deg,
        #000 0deg,
        #000 2deg,
        transparent 1deg,
        transparent 30deg
      ), radial-gradient(
        farthest-side circle,
        #FFF 90%,
        transparent 0
      ), repeating-conic-gradient(
        transparent 0deg,
        #aaa 0deg,
        #aaa 1deg,
        transparent 1deg,
        transparent 6deg
      );
}

/* Grid piles */

.menu,
.menu-items,
body,
.item {
    display: grid;
    place-content: center;
}

.menu>*,
.menu-items>*,
body>* .item button {
    grid-area: 1/1;
}

button {
    border: none;
    background: none;
    color: #222;
    font-size: 1.25rem;
}

button:focus-visible {
    outline: 2px solid deeppink;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.menu,
.menu-items {
    overflow: unset;
}

/* //================================// */
/* //==========clock===========// */
/* //================================// */

.menu{
    >p{
        color: red;
        font-family: sans-serif;
        transform: translateY(1em)
    };

    display: flex;
    align-items: center;
    border-radius: 50%;
    width: var(--btn-size);
    aspect-ratio: 1;
    border: solid 3px black ;
    background-image: radial-gradient(
      farthest-side circle,
      #000 8%,
      #FFF 0,
      #FFF 80%,
      transparent 0
    ), repeating-conic-gradient(
      transparent 0deg,
      #000 0deg,
      #000 2deg,
      transparent 1deg,
      transparent 30deg
    ), radial-gradient(
      farthest-side circle,
      #FFF 90%,
      transparent 0
    ), repeating-conic-gradient(
      transparent 0deg,
      #aaa 0deg,
      #aaa 1deg,
      transparent 1deg,
      transparent 6deg
    );
  }

  .menu {
    width:var(--btn-size);
    height:var(--btn-size);
    border-radius:300px;
    
    &:before {
       content:'';
       position: absolute;
       width:2px;
       height:35px;
       border-radius:2px;
       background:#444;
       transform-origin:bottom;
       animation:time 18s infinite linear;
       margin-bottom: 35px;
    }
    
     &:after {
        content:'';
        position:absolute;
        width:2px;
        height:40px;
        border-radius:5px;
        background:rgb(116, 0, 0);
        transform-origin:bottom;    
        animation:time 1.2s infinite linear;
        margin-bottom: 40px;
     }
 }
 
 .hours {
    position:absolute;
    width: 3px;
    height: 20px;
    border-radius:5px;
    background:#444;
    transform-origin:bottom;
    animation:time 4320s infinite linear;
    margin-bottom: 20px;
 }
 
 @keyframes time {
    100% {
       transform:rotate(360deg);
    }
 }

 /* //================================// */
/* //==========popover===========// */
/* //================================// */

#continent-popover {
    width: 100%;
    height: 90%;
    background: transparent;
    border: 0;
    overflow-y:hidden;

    &::backdrop{
        background-color: rgba(150, 150, 150, 0.178);  
    }
}

 /* //================================// */
/* //==========carousel===========// */
/* //================================// */

 .plus-jakarta-sans-thin {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.plus-jakarta-sans-regular {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .plus-jakarta-sans-medium {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .plus-jakarta-sans-bold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .plus-jakarta-sans-extraBold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

body {
    font-family:"Plus Jakarta Sans", Helvetica, sans-serif;
    --CardWidth: 16em;
    --CardPadding: 1em;
}

.slider-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    overflow: hidden;
}

.slider {
    margin: 0 5em ;
    /* padding: 1.5em calc(50dvw - 6.5em) 1.5em calc(50dvw - 6.5em); */
    width: calc(var(--CardWidth) * 2.8);
    padding: 1.5em 6.5em;
    position: relative;
    display: flex;
    transition: transform 0.5s ease;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    max-height: 90%;

    &::scroll-button(*) {
        position: fixed;
        font-family: "Material Symbols Outlined";
        border-radius:50% ;
        padding: 1em 1.2em;
        margin: 0 .5em ;
        outline: .1em solid rgb(59, 59, 152) ;
        background-color: white;
    }

    &::scroll-button(inline-start) {
        content: "⬅" / "previous";
        position: absolute;
        top: 40%;
        left: 5%;
    }

    &::scroll-button(inline-end) {
        content: "⮕" / "Next";
        position: absolute;
        top: 40%;
        right: 5%;
    }

    &::scroll-button(*)::focus-visible {
        outline-offset: 1em;
    }

    .card {
        container-type: scroll-state;
        list-style: none;
        scroll-snap-align: center;
        scroll-snap-stop:always;
        scroll-behavior: smooth;

        >div {
            padding: var(--CardPadding);
            border-radius: 8px;
            background-color: white;
    
            display: grid;
            grid-template-rows: 30vh 4vh max-content 5vh;
            text-align: start;
            box-shadow: .1em .1em .5em rgb(203, 203, 203);
            transition: transform 0.5s ease, opacity 0.3s ease;
            transform-origin: center;
            opacity: 1;
            transform: scale(1);
            width: var(--CardWidth);
            height: fit-content;
            @container not scroll-state(snapped: x) {
                interactivity: inert;
                transform: scale(.7);
    
            }
            >div{
                display: flex;
                justify-content: space-around;
            }

        }
    }
}



.card img {
    margin: 0;
    width: 100%; /* Zorgt ervoor dat de afbeelding de volledige breedte van het element inneemt */
    height: 100%; /* Zorgt ervoor dat de afbeelding de volledige hoogte van de eerste rij inneemt */
    object-fit: cover; /* Zorgt ervoor dat de afbeelding de ruimte volledig vult zonder te vervormen */
}

.card h2 {
    margin: .5em 0;
    font-size: 1em;
    hyphens: auto;
    font-style: italic;
    font-weight: 100;
    margin-left: .5em;
    align-self: center;
}

.card p {
    font-size: 1.3em 0;
    align-self: center;

    /* margin: .5em; */
}

.card p:first-of-type{
    font-size: 1.7em;
    font-style: italic;
    padding: 0;
    margin: .5em 0;
}
.card p:nth-child(5)::before{
    content: '📍';
}
.card p:nth-child(5)::first-line{
    font-weight: 700;
}

.card a{
    font-weight: 600;
    color: rgb(36, 36, 36);
    align-self: center;
}

.card a:visited{
    color: rgb(36, 36, 36);
}